@import "tailwindcss";

@layer utilities {
  .animate-gradient {
    animation: gradientShift 6s ease infinite;
    background-size: 300% 300%;
  }

  @keyframes gradientShift {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}

.animated-gradient-border {
  background: linear-gradient(270deg, #7e22ce, #ec4899, #f97316);
  background-size: 600% 600%;
  animation: gradientAnimation 8s ease infinite;
  border-radius: 0.375rem; /* same as rounded-md */
  padding: 3px; /* thickness of border */
}